# *
# * This Source Code Form is subject to the terms of the Mozilla Public
# * License, v. 2.0. If a copy of the MPL was not distributed with this
# * file, You can obtain one at http://mozilla.org/MPL/2.0/.
# *

# NPM
node_modules
npm*.log
v8-compile-cache*

# Intellij (directory-based)
.idea
*.iml

# Private
private

# Build files
/src/client/public/app/*
# Environment Variables
.env
.env.local
.env.*.local

# CSV files (except ones needed for database tests)
*.csv
!/src/server/test/**/*.csv
!/src/server/data/unit/*.csv

# CSV gz files (except ones needed for database tests)
*.csv.gz
!/src/server/test/**/*.csv.gz
!/src/server/data/unit/*.csv.gz

# Database
postgres-data
*.sqlite
data.json

# Build and Dist
/dist
/build
/.next
/out

# Text and Temporary files (documentation should be .md)
*.txt
!License.txt
!LICENSE.txt
!CONTRIBUTING.md
!README.md
!SECURITY.md
!SUPPORT.md
!USAGE.md
*.log
*.sql
*.diff
*.patch

# nohup.out is created when working inside the remote container with Visual Studio Code.
nohup.out

# OS files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Developer tools
.vscode/*
!.vscode/extensions.json
.idea/
*.iml
*.iws

# ui-testing screenshots
src/cypress/screenshots/*
src/cypress/videos/*

# tmp file
src/server/tmp/*
/tmp/*
